{% extends "base.html" %}

{% block content %}
<form class="form">
    <h1 align="center">Registro</h1> 
    <div class="grid">
        <div>Nombres </div>
        <div>
            
            <input type="text" name="Nombre" maxlength="50">
        </div>
        <div>Apellido</div>

        <div>
            <input type="text" name="Nombre" maxlength="50">
        </div>
        
        <div>Tipo de Identificacion</div>
        <div>
            
            
            <select>
            <option value="1">Cedula de ciudania </option>
            <option value="2">Tarjeta de identidad </option>
            <option value="3">Cedula de Extranjeria </option>
            </select>
        </div>
        
        <div>Numero de identificacion</div>

        <div>
            <input type="text" name="Nombre" maxlength="50">
        </div>
        <div>Genero </div>
        <div>
            <select>
            <option value="1">Masculino </option>
            <option value="2">Femenino </option>
            </select>
        </div>
        <div>Direccion </div>
        <div>
            <input type="text" name="Nombre" maxlength="50">
        </div>
        
        <div>Pais</div>
        <div>
            <select>
            <option value="1">Colombia </option>
            <option value="2">Ecuador </option>
            </select>
        </div>
        <div>Ciudad </div>
        <div>
            
            <input type="text" name="ciudad" maxlength="50">
        </div>
        <div>Telefono </div>
        <div>
            <input type="text" name="Telefono" maxlength="50">
        </div>
        <div>Fecha de Nacimiento </div>
        <div>
            <input type="date" name="fecha" maxlength="50">
        </div>
    </div>
    <br>
    <div align="center">
        <input type="CHECKBOX" name="fecha" maxlength="50">
        Acepto terminos y condiciones 
    </div>
    <br>
    <div align="center">
        <button type="button" name="Boton" >Registrarme</button>
    </div>
    
</form>
<div>
    <button class="btn btn-primary" onclick="location.href='/'">Ir a Inicio</button>
</div>
{% endblock %}


