    <div class="container container--flex">
        <p class="column">¿Por que visitarnos?</p>
        <h2 class="column__title"> Contactanos</h2>
        <p class="column">Direccion</p>
        <p class="column">Telefono</p>
        <p class="column">Correo</p>
                        <div class="column column--33">
                            <h2 class="column__title">Siguenos en nuestras redes sociales</h2>
                            <p class="column"><a href="facebook" class="icon">Facebook</a></p>
                            <p class="column"><a href="twitter" class="icon">Siguenos en Twitter</a></p>
                            <p class="column"><a href="youtube" class="icon">Visita nuestro canal</a></p>
                        </div>
                        
                        <p class="copy">2018 Dunkin´Donats Restaurant Todos los derechos reservados</p>
    </div>
