<nav class="main-nav">
    <div class="container container--flex">
        <span class="icon-menu" id="btnmenu"></span>
        <ul class="menu" id="menu">
            <li class="menu__item"><a href="/" class="menu__link menu__link--select">Menu</a></li>
            <li class="menu__item"><a href="/pedido/"  class="menu__link">Pedidos</a></li>
            <li class="menu__item"><a href="/quienes_somos/" class="menu__link">Quienes somos</a></li>
            <li class="menu__item"><a href="/contactenos/" class="menu__link">Contacto</a></li>
        </ul>
  </div>
</nav>